.dark{
    background-color: black;
    color:white;
}

.darkwhite{
    background-color: black;
    color:black;

}

.white{
    background-color:white;
    color:black;
}

.theheader.dark .projecthover,
.theheader.dark .group-hover\:block a{
    color:black;
}

.textrotatedfont{
    color:white;
    text-shadow:2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.textsmall > div{
    background-color:rgba(0, 0, 0, 0.78);
    color:white;
}

        .none{
            display: none;
        }
